<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
</head>
<body>
    <form action="/analyze" method="post">
        <label for="model">Select Model:</label>
        <select name="model" id="model">
            <option value="bert">BERT</option>
            <option value="roberta">ROBERTA</option>
            <option value="mi">MISTRAL</option>
            <option value="mi">LLAMA</option>
            <option value="mi">TBD</option>
            <option value="mi">TBD1</option>
        </select>
        <br><br>
        <textarea name="query" placeholder="Enter your Chemistry Question here..." rows="4" cols="50"></textarea>
        <br><br>
        <button type="submit">Analyze</button>
    </form>
</body>
</html>
